.profile-list {
   display: flex;
   /* Flexbox를 사용하여 가로 정렬 */
   flex-wrap: wrap;
   /* 화면 크기에 맞게 줄바꿈 */
   gap: 20px;
   /* 각 프로필 사이에 간격 추가 */
}

.profile-item {
   text-align: center;
   /* 각 프로필을 가운데 정렬 */
   max-width: 150px;
   /* 프로필의 최대 너비 설정 */
}

.profile-item img {
   width: 120px;
}