.convergence-section {
   background: #DBFF00;
   text-align: center;
   color: #000;
}

.circle-container {
   position: relative;
   width: 400px;
   height: 400px;
   margin: 0 auto;
}

.circle {
   position: absolute;
   width: 150px;
   height: 150px;
   border: 1px solid black;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.circle p {
   margin: 0;
   color: black;
}

.circle:hover {
   background-color: black;
   color: white;

   p {
      color: white;
   }
}

.design {
   top: 25px;
   left: 125px;
}

.media {
   top: 125px;
   left: 65px;
}

.technology {
   top: 125px;
   left: 185px;
}

.convergence-center {
   position: absolute;
   top: 120px;
   left: 15 0px;
   font-size: 1.2em;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}